

<div class="hero">
  <div class="frosty col-xs-12 text-center"> <br/>
    <h1>Learn to Code from the Pros</h1><br/>
    <p><span>#</span><span class= "white">{</span><span class= "blue">coder_project</span><span class= "white">}</span> is the <span style="color: #56AECC; font-weight: 300;">YOU</span> University!</p><br/>
    <%= link_to 'Learn More', about_path, class: 'btn btn-success' %><br/>
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Create a Profile.</h3><br/>
    <span class="glyphicon glyphicon-user"></span> <br/><br/>
    <h5>Join the movement to get started!</h5>
  </div>

  <div class="col-sm-4">
    <h3>Teach or View a Course.</h3><br/>
    <span class="glyphicon glyphicon-film"></span><br/><br/>
    <h5>Film and upload your first course!</h5>
  </div>

  <div class="col-sm-4">
    <h3>Get Paid.</h3><br/>
    <span class="glyphicon glyphicon-credit-card"></span><br/><br/>
    <h5>Get paid as others learn from your prowess!</h5>
  </div>
</div>