@import "bootstrap-sprockets";
@import "bootstrap";



.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar-default .navbar-brand {
  font-size: 30px;
  color: red;
  }



.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}